<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="load asyncronous web components with lazy load pattern, detect compatibility with browser and use webcomponents.js shim" />
    <meta name="author" content="Fernando Palacios Landi" />
    <title>Lazy load Polymer web components</title>
    <script src="polyfills.js"></script>
</head>
<body>
    <header>
        <h1>Lazy load Polymer web components</h1>
    </header>

    <footer>
      <small>© Code and documentation copyright 2015, Fernando Palacios Landi</small>
    </footer>
    <hr/>

    <section id="loader-components">
			<div>
				<wcl-icon data-type="polymer"></wcl-icon>
				<wcl-icon data-type="polymer" class="danger"></wcl-icon>
				<wcl-icon data-type="star" class="soft"></wcl-icon>
			</div>

			<div>
				<wcl-user-profile class="soft"
					data-name="Paquito" data-career="engineering"
					data-born="11/12/1954" data-city="Cancun">
				</wcl-user-profile>

				<wcl-user-profile class="danger"
					data-name="Tommi" data-career="repairman athens"
					data-born="11/12/1964" data-city="Boston">
				</wcl-user-profile>
			</div>
    </section>


<script>
var polymerStarter = new WcPolyfills.PolymerStarter();

document.addEventListener('DOMContentLoaded', function () {
	polymerStarter.setDom('shady');
	polymerStarter.setElements([
		'wcl-icon.html',
		'wcl-user-profile.html'
	]);
	polymerStarter.load();
});
</script>
</body>
</html>
